/**
 * Created by Геннадий on 28.08.2015.
 */

function asset_path(name) {
    assets = {
        'bottle.png': '<%= asset_path "bottle.png" %>',
        'Alien.png': '<%= asset_path "Alien.png" %>',
        'Alien_other.png': '<%= asset_path "Alien_other.png" %>',
        'drinks.png': '<%= asset_path "drinks.png" %>',
        'new.png': '<%= asset_path "new.png" %>',
        'info.html': '<%= asset_path "info.html" %>',
        'new_point.html': '<%= asset_path "new_point.html" %>',
        'send_message.png': '<%= asset_path "send_message.png" %>',
        'event.png': '<%= asset_path "event.png" %>',
        'message.png': '<%= asset_path "message.png" %>',
        'alert.mp3': '<%= asset_path "alert.mp3" %>',
        'message_notify.jpg': '<%= asset_path "message_notify.jpg" %>'
    };
    return assets[name]||'none';
}
var POINT_TYPES ={shop:'shop',bar:'bar',event:'marker',message:'message', user:'user'};

function iconForPoint(type) {
    var icon = asset_path('bottle.png');
    switch (type) {
        case POINT_TYPES.shop:
            break;
        case POINT_TYPES.event:
        {
            icon = asset_path('event.png');
            break;
        }
        case POINT_TYPES.message:
        {
            icon = asset_path('message.png');
            break;
        }
        case POINT_TYPES.bar:
        {
            icon = asset_path('drinks.png');
            break;
        }
        case POINT_TYPES.user:
        {
            icon = asset_path('Alien_other.png');
            break;
        }
    }
    return icon;
}
var up = localStorage.getItem('USER_POSITION');
var USER_POSITION = (up && up.lat instanceof Number && up.lng instanceof Number)?{lat:up.lat,lng:up.lng}:{lat: 55.75370903771494, lng: 37.61981338262558};
function updateUserPosition() {
    navigator.geolocation.getCurrentPosition(function (position) {
        USER_POSITION = {lat: position.coords.latitude, lng: position.coords.longitude};
        localStorage.setItem('USER_POSITION',USER_POSITION);
    }, function (err) {
        console.log('ERROR(' + err.code + '): ' + err.message);
    });
};
updateUserPosition();
setTimeout(function () {
    $('p.alert').hide();
}, 5800);
wordForPointType = function(type)
{
    switch(type)
    {
        case "message": return "сообщение";
        case "marker": return "событие";
        case "shop": return "магазин";
        case "bar": return "бар";
        case "user": return 'пользователь';
    }
};

function imageTag(url,class_name)
{
  return "<a target='_blank' href='"+url+"' class='"+class_name+"'>"+"<img src='"+url+"' class='"+class_name+"'/>"+"</a>";
}
function linkTag(url,class_name)
{
  return "<a target='_blank' href='"+url+"' class='"+class_name+"'>"+url+"</a>";
}
prepareMessage = function (text, link_class, img_class) {
  var links =
      text.match(/(((ftp|http|https):\/\/)|(\/)|(..\/))(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/g);
  if (links) {
    links.forEach(function (link) {
      var image = text.match(/(https?:\/\/.*\.(?:png|jpg|jpeg|gif))/g);
      if(image)
      {
        text = text.replace(image, imageTag(image, img_class));
      }
      else
      {
        text = text.replace(link, linkTag(link, link_class));
      }
    });

  }
  return text;
};
if(window.Notification)
{
  Notification.requestPermission();
}
