<div class='settings'>
  <div id="main_news">
    <h4>Добро пожаловать на шлюхокарту</h4>
    Тут можно поделиться вашим опытом блядства<br>
    <br>
    Вопросы и предложения: <a href="mailto:suter@easy.com">suter@easy.com</a>
  </div>
  <ul class="usefull">
    <li>
      <a class="menu_entry_trigger" target="#settings_help" href="#">Мое местоположение:</a>
      <div class="menu_entry" id="settings_help">
        Разреши получать твое местоположение.<br>
        Если не хочешь отбиваться от уведомлений, то разреши навсегда:<br>
        <%= image_tag 'location_approve.jpeg' %>
      </div>
    </li>
    <li>
      <a class="menu_entry_trigger" target="#location_help" href="#">Установка приложения:</a>
      <div class="menu_entry" id="location_help">
        Добавь его на стартовый экран и используй как приложение.<br>
        <div class="phone_add">
          <%= image_tag 'ios_add.png' %>
          <%= image_tag 'android_add.png' %>
        </div>
      </div>
    </li>
    <li>
      <a class="menu_entry_trigger" target="#common_help" href="#">Я поставил точку не туда!</a>
      <div class="menu_entry" id="common_help">
        Нажми на галку "моё" в правом вернем углу и сможешь все исправить<br>
      </div>
    </li>
    <li>
      <a class="menu_entry_trigger" target="#common_help" href="#">Что такое "поделиться местоположением"</a>
      <div class="menu_entry" id="common_help">
        Эта кнопка будет отображать твое положение на экранах других пользователей.<br>
        Используй эту функцию, когда ты хочешь найти компанию или просто поболтать. <br>
        Пользователи видят тебя только пока ты на сайте.<br>
      </div>
    </li>
  </ul>
  <div id="legend">
  <h4 class="app_title">Легенда</h4>

  <div class="legend">
    <div>
      <img src="<%= asset_path 'Alien.png' %>"> <span>Это ты</span>
    </div>
    <div>
      <img src="<%= asset_path 'bottle.png' %>"> <span>Тут живут индивидуалки</span>
    </div>
    <div>
      <img src="<%= asset_path 'drinks.png' %>"> <span>А тут шлюхин дом</span>
    </div>
    <div>
      <img src="<%= asset_path 'event.png' %>"> <span>Тут вообще какое-то блядство</span>
    </div>
    <div>
      <img src="<%= asset_path 'message.png' %>"> <span>Сюда вообще лучше не ходить</span>
    </div>

    <div><%= image_tag '24.png' %><span>Работает круглые сутки</span></div>
    <div><%= image_tag 'CreditCard.png' %><span>Принимают карты</span></div>
    <div><%= image_tag 'beer.png' %><span>Есть алкоголь</span></div>
    <div><%= image_tag 'hard.png' %><span>Есть парни</span></div>
    <div><%= image_tag 'elite.png' %><span>Есть элитный вариант</span></div>

  </div>

</div>

  <br>


</div>