<div class="forms_wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="form_wrapper">
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token, class: 'form-control' %>

        <p><%= f.label :email %><br/>
          <%= f.email_field :email, :required => true, class: 'form-control' %></p>

        <p><%= f.label :name %><br/>
          <%= f.text_field :name, :required => true, class: 'form-control' %></p>

        <p><%= f.label :password %><br/>
          <%= f.password_field :password, class: 'form-control' %></p>

        <p><%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, class: 'form-control' %></p>

        <p><%= label :profile, 'Age' %>
          <%= number_field :profile, :age, value: 18 %></p>

        <p><%= label :profile, 'Sex' %>
          <%= select :profile, :sex, Profile.sexes.keys %></p>

        <p><%= label :profile, 'Comment' %>
          <%= text_field :profile, :comment %></p>

        <p><%= f.label 'Я все понял' %>
          <%= f.check_box :nil?, :required => true %></p>

        <p><%= f.submit 'Я готов', class: 'form-control' %></p>
        <%= render "users/shared/links" %>
      </div>
  <% end %>
</div>

